---
layout: resume
permalink: /resume
---
<article id="resume">
    <header class="header">
        <div class="container">
            <div class="cell">
                <img src="/assets/images/conan.png" alt="profile image">
            </div>
            <div class="cell">
                <div class="name">남영 <span>(Young Nam)</span></div>
                <div class="short-description">
                    <span>South Korea</span>
                    <span>|</span>
                    <span>Data Analyst based on Marketing</span>
                    <div style="font-size: larger; font-weight: 900;">
                        <a href="http://skadudd.github.io/">Blog</a>
                        <a href="https://github.com/skadudd">Github</a>
                        <a href="https://www.instagram.com/naamyoung/">Instagram</a>
                        <!--<a href="https://www.strava.com/athletes/8753337">Strava</a>-->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container"> 
        <section><!--CAREERES-->
            <div class="title">CAREERS</div> 
            <div class="content">
                <div class="career">
                    {% for career in site.data.careers %}
                    <div class="item">
                        <div class="name">{{ career.name }}</div>
                        <div class="location">
                            <span class="label-default">
                                <i class="ion-ios-compass"></i>
                                위치
                            </span>
                            {{ career.location }}
                        </div>
                        <div class="position">
                            <span class="label-default">
                                <i class="ion-ios-person"></i>
                                부서
                            </span>
                            {{ career.position }}
                        </div>
                        {% for period in career.period %}
                        {% assign loopindex = forloop.index %}
                        <div class="period">
                            <span class="label-default">
                                <i class="ion-ios-calendar"></i>
                                기간
                                {% if career.period.size > 1 %}
                                {{ loopindex }}
                                {% endif %}
                            </span>
                            {{ period }}
                        </div>
                        {% endfor %}
                        <div class="description">
                            <i class="ion-quote"></i>
                            {{ career.description }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section><!--SKILLS-->
            <div class="title">SKILLS</div>
            <div class="content">
                <div class="skills">
                    </div>
                    <div class="item">
                        <div class="title">Language</div>
                        <span class="label-gray">Python 5</span>
                        <span class="label-gray">Python.sklearn 4</span>
                        <span class="label-gray">Python.tensorflow 3</span>
                        <span class="label-gray">Python.torch 3</span>
                        <span class="label-gray">Javascript 2</span>
                        <!-- <span class="label-gray">C#</span> -->
                        <!-- <span class="label-gray">Ruby</span> -->
                    </div>
                    <div class="item">
                        <div class="title">SQL</div>
                        <span class="label-gray">MySQL 5</span>
                        <span class="label-gray">PostgreSQL 5</span>
                    </div>
                    <div class="item">
                        <div class="title">Visualizer</div>
                        <span class="label-gray">Tableau 4</span>
                        <span class="label-gray">Google Data Studio 3</span>
                    </div>
                    <div class="item">
                        <div class="title">3rd-party-tracker</div>
                        <span class="label-gray">Appsflyer 5</span>
                        <span class="label-gray">Adjust 5</span>
                        <span class="label-gray">GA4 5</span>
                        <span class="label-gray">Amplitude 3</span>
                    </div>
                    <div class="item">
                        <div class="title">Front-end skills</div>
                        <span class="label-gray">HTML/CSS 3</span>
                        <span class="label-gray">Google-Tag-Manager 5</span>
                    </div>
                    <div class="item">
                        <div class="title">VCS</div>
                        <span class="label-gray">git 3</span>
                    </div>
                    <div class="item">
                        <div class="title">Clolud</div>
                        <span class="label-gray">Bigquery 3</span>
                        <span class="label-gray">AWS ES2 1</span>
                    </div>
                </div>

        </section>
        <section><!--PROJECTS-->
            <div class="title">PROJECTS</div>
            <p style="font-size: larger; font-weight: 800; font-style: italic;"><a href="https://drive.google.com/file/d/1S4tRBKrlWkoW4sZOSLPapPmTJN4a-wq7/view?usp=sharing">ONE PAGER</a></p>
            <div class="projects">
                {% for project in site.data.projects %}
                <div class="item">
                    <div class="name">
                        {{ project.name }}
                        {% if project.url %}
                        (<a href="{{ project.url }}">{{ project.url-name }}</a>)
                        {% else %}
                        (Private)
                        {% endif %}
                        {% if project.github %}
                        (<a href="{{ project.github }}"><i class="ion-logo-github">git-hub</i></a>)
                        {% endif %}
                    </div>
                    <div class="belong-to">
                        <span class="label-default">
                            <i class="ion-ios-person"></i>
                            소속
                        </span>
                        {{ project.belong-to }}
                    </div>
                    <div class="period">
                        <span class="label-default">
                            <i class="ion-ios-calendar"></i>
                            기간
                        </span>
                        {{ project.period }}
                    </div>
                    <div class="level-of-contribution">
                        <span class="label-default">
                            <i class="ion-ios-pie"></i>
                            참여
                        </span>
                        {{ project.level-of-contribution }}
                    </div>
                    <div class="description">
                        {{ project.description }}
                    </div>
                    <div class="skills">
                        {% for skill in project.skills %}
                        <span class="label-gray">{{ skill }}</span>
                        {% endfor %}
                    </div>
                    {% if project.images %}
                    <div class="images">
                        <div class="title">{{ project.images.size }}장의 사진이 있습니다.</div>
                        {% for image in project.images %}
                        <a href="{{ image }}" rel="gallery" class="gallery"><img src="{{ image }}" alt=""></a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </section>
        <section><!--PERSONAL STATEMENT-->
            <div class="title">PERSONAL STATEMENT</div>
            <div class="content">
                <div class="introduce">
                    <p>
                        <h5>GRIT 있는 데이터분석가 남영입니다.</h5>
                        <p>
                            모든 데이터 분석가는 실험을 통해 '왜?'를 밝혀내고, 실행을 통해 '아하!'모멘트를 찾아야 합니다. 다만 프로덕트를 담당하는 데이터 분석가는 다양한 유저들이 유입되고 이탈하기까지의 생애 가치 동안 발생하는 수많은 이벤트에서 인사이트를 도출하고 현상을 개선해야 합니다. 이는 보다 정형화하기 어려운 문제를 해결해야 함을 의미합니다. <br><br>

                            이러한 환경에서 데이터 분석가는 모호한 데이터를 해석하기 위해 유저의 니즈를 파악할 수 있는 비즈니스 감각과 마케팅 도메인 지식을 필요로 합니다. 또한, 목표 달성을 위해 끊임없이 실험을 지속할 수 있는 추진력을 발휘해야 합니다.<br><br>

                            저는 사업을 시작할 당시, 유저의 니즈를 파악하고 실행으로 옮긴 결과, 일일 유입 15,000명을 달성하며 1년 만에 연 매출 6억을 달성한 경험이 있습니다. 또한, 퍼포먼스 마케터로서 다양한 실험과 A/B 테스트를 진행하였고, 이를 통해 1m ROAS +22%, LTV +5%의 성과를 도출하며 마케팅 그룹의 KPI를 교체한 경험 역시 가지고 있습니다. 이 과정에서 다양한 이해관계자들과의 커뮤니케이션을 진행하며 협력을 이끌어낸 경험은 그 어떤 성과보다도 값집니다.<br><br>

                            저는 이 경험들을 토대로 유저의 니즈를 파악할 수 있는 비즈니스 감각과 마케팅 도메인 지식을 얻었으며, 성과를 만들어내는 과정에서 사업의 생존 혹은 매출과 성과의 압박에 굴하지 않고 목표한 바를 이뤄내는 추진력을 체득할 수 있었습니다. 또한 이해관계자들의 협조를 이끌어내는 설득의 기술과 혼자서는 해낼 수 없는 일을 해내게 만드는 팀워크를 배웠습니다.<br>
                        </p>
                    </p>
                    <p>
                        <h5>강점에 집중하며, 단점은 도구로 보완합니다. - 성격의 장단점</h5>
                        <p>
                            피터 드러커는 "프로페셔널의 조건"에서 자신의 강점을 알고 극대화 하는 것이 성공적인 인생을 설계하는 첫걸음이라고 말했습니다. 따라서 저는 "MBTI Form Q"와 Gallup의 "Clifton Strengths" 분석을 조합하여 정기적으로 저에 대해 성찰해 보곤 합니다.<br><br>
  
                            저는 모호하고 어려운 문제를 만났을 때 게임기를 앞에 둔 어린아이처럼 호기심과 승부욕에 불이 붙습니다.  
                            그러다 보니 보다 창의적인 아이디어를 도출하고, 전략적인 그림을 그려 계획을 도출할 수 있는 것이 저의 강점이 되었습니다.  <br><br>
                              
                            문제가 아닌 인간관계나 지위에는 그러한 승부욕이 발생하지 않는 것 또한 저의 장점입니다.  
                            재밌는 가설을 도출하여 유관자들을 모아 토론하고, 건설적인 피드백을 받으며 저와 아이디어가 성장하는걸 보는 게 제게 고양감을 가져다줄 뿐입니다.  <br><br>
                              
                            단, 성향이 미래지향, 발상, 전략 테마에 치우쳐 있다는 점을 피드백 받곤 합니다.  
                            문제 해결이라는 큰 게임에 집중할 때면 디테일과 세부 사항을 빠뜨려 덤벙대는 면이 있습니다. 디테일이 생명인 것을 인지하고 있기에, 업무 뿐 아니라 일상 생활 속에서도 GTD 앱과 노트 앱을 통해 메모하는 습관을 들여 보완하고 있습니다.<br>
                        </p>
                    </p>
                    <p>
                        <h5>그로스해킹을 믿고, 지표에 딥다이브합니다.  - 소개하고 싶은 경험</h5>
                        <p>
                            저는 3년간 퍼포먼스 마케터로 일하며 신규 고객 유입 및 전환 지표와 데이터 트래커(Appsflyer) 도입 및 관리를 책임졌습니다. 특히 큐피스트에 재직했던 한 해는, 연 15억 규모의 예산을 저 혼자서 성공적으로 운용했으며 실험을 통해 30d ROAS 22%, LTV 5%를 상승시켰습니다. 이 성과를 기반으로 마케팅 그룹의 KPI를 재정립하는 등, 회사와 저 모두 큰 성장을 이뤄냈던 시간이었습니다.<br><br>

                            퍼포먼스 마케팅에 대한 높은 매출 의존도를 가진 업계 특성상, 매일 같이 집요하게 지표 분석과 실험을 하며 데이터에 매달린 덕에 좋은 결과를 만들 수 있었습니다.<br><br>

                            위 성과에 가장 큰 영향을 미친 요소는 아래와 같습니다.
                        </p>
                        <h6>A. 자동화된 코호트 분석 보고 체계 수립을 통한 업무 효율 개선</h6>
                        <p>
                            데이터를 정리하고 가공하는 일은 인사이트 도출에 선행하는 아주 중요한 업무입니다. 하지만 10개 매체에 연 15억의 예산을 지출하며 쏟아지는 데이터를 수기로 정리한다면 그것은 비효율적인 업무일 것입니다. 예상하셨듯, 이전 회사는 관행처럼 성과 지표를 구글 시트에 수기로 기록하고 있었습니다.<br><br>
  
                            매일 약 3시간이 소비되었으며, 휴먼 에러로 인해 발생한 문제 역시 잦았습니다. 자동화된 리포트가 필요하다고 판단하였고, 구글 시트에 트래커와 매체의 API를 연동하여 데이터를 자동으로 수집하도록 설계했습니다.<br><br>
  
                            구글 시트의 query 문과 피벗 테이블을 활용하여 지출, 클릭 등의 선행 지표부터 매출 등의 후행지표까지 통합하였습니다. 또한 다차원으로 늘어나 추적할 수 없던 ROAS, Retention 등의 핵심 코호트 지표도 1차원으로 압축하여 연결한, 자동화된 보고 체계를 완성했습니다.<br><br>

                            수기로 수집할 때와는 다르게, 매체부터 콘텐츠 세분화 데이터까지 수집 및 가공했기에 더욱 근거 있는 데이터 분석이 가능해졌습니다. 이로써 일일 3시간의 비생산적인 업무를 삭제할 수 있었고, 보다 가치 있는 문제에 집중할 수 있게 되었습니다.
                        </p>
                        <h6>B. AB 테스트를 통한 퍼포먼스 마케팅 체질 개선 (그룹 KPI 재정립)</h6>
                        <p>
                            그 해, 큐피스트는 투자받길 원했고, 각 조직은 이 목표 달성에 기여해야 했습니다. 특히 LTV 지표 개선이 필요한 상황이었습니다. 저는 유입을 담당하는 마케팅 그룹에서 해당 목표를 달성하기 위해 큰 도움을 줄 수 있을 것이라 판단했습니다. 때마침 자동화된 코호트 분석 보고 체계를 완성하였던 시기라, 빠르게 문제점을 파악하고 액션 플랜을 도출할 수 있었습니다.<br><br>
  
                            기존의 마케팅 그룹은 유입단가(CAC) 낮추기에만 열을 올리고 있었던 상황이었고, 이는 LTV 관점에서 최선이 아니었습니다. CAC에 최적화된 캠페인(이하 설치 캠페인)과 ROAS에 최적화된 캠페인(이하 구매 캠페인)의 CAC 차이는 평균적으로 15% 정도였습니다. 낮은 CAC가 KPI였기 때문에 전자에 예산이 집중되고 있었습니다. 하지만 설치 캠페인은 3달이 지나도 ROAS가 50%를 달성하지 못하는 반면, 구매 캠페인은 45일 이내로 100%를 초과했습니다. 또한 시간이 지날수록 그 격차는 기하급수적으로 벌어지고 있었습니다.<br><br>

                            결과적으로 근시안적인 KPI가 장기적인 관점의 성장을 방해하고 있었습니다. LTV를 높인다는 목표를 달성하기 위해서는 체질 개선이 필요하다고 판단하였습니다.<br><br>
  
                            저는 2주간 ROAS 최적화 캠페인의 예산 비중을 높여 A/B 테스트를 진행했고 결과적으로 유의미한 결과를 얻었습니다. 실험군의 유입단가가 30% 상승하였으나 ROAS 22%, 고객 생애 가치 투자수익률(CAC/LTV) 5% 상승하는 결과를 얻었습니다. 반면 비교군은 15일째 ROAS가 40%를 넘지 못했고, 이후 100% 이탈하였습니다.  <br><br>
  
                            저는 "비싸지만, 지출보다 많은 매출을 발생하는 집단"이 LTV를 높인다는 목표 달성의 실마리라고 판단했습니다. 이 점을 정리하여 이사님께 보고드렸고, 긍정적인 피드백과 함께 대대적인 예산 개편이 이루어졌습니다. 또한 이 AB 테스트 결과는 마케팅 그룹의 KPI를 단기적인 CAC에서 보다 장기적인 코호트 (nd ROAS, Retention) 지표로 변경되는 계기가 되었습니다.
                        </p>
                        <h5>실행하고 실현하겠습니다. - 끝맺음</h6>
                        <p>
                            레이 달리오는 저서 '원칙'에서 다음과 같이 말했습니다. '끝까지 임무를 완수하라. 아무리 훌륭한 계획이라도 실천하지 않으면 성공하지 못한다.'<br><br>

                            데이터 분석가의 미션은 그로스해킹(가설 수립과 인사이트 도출을 반복하여 문제 해결의 실마리를 찾고, 개선하는 것)이라고 생각합니다. 개선은 곧 실행을 뜻합니다. 실행은 외부 압박을 이겨낼 수 있는 추진력과 개인의 능력을 상회하는 팀워크를 필요로 합니다. 따라서 가장 어려우며, 많은 인사이트가 이 과정에서 병목현상을 겪는 것을 목격했습니다.<br><br>

                            저는 사업을 하던 시기에 저보다 규모가 수배는 더 큰 도매업체들과 협상을 진행하며 성장해봤습니다. 또한 회사에서 가장 큰 예산을 소진하며 매출의 압박속에서 성과를 낸 경험이 있습니다. 이 과정에서 PM,PO, 데이터 분석가, 마케팅 이사 등, 유관자들을 설득하여 협력을 이끌어낸 값진 경험 역시 지니고 있습니다.<br><br>

                            저의 사업 및 커뮤니케이션 경험과 마케팅 역량은 인사이트와 실행 사이의 병목현상을 해결하는데에 기여할 것입니다. 이는 그로스해킹이 보다 효율적으로 수행됨을 의미하며, 결과적으로 보다 나은 결과물을 도출할 것입니다. <br><br>

                            위와 같이 저의 경험을 바탕으로 데이터 분석가로서 실행하고 실현함으로써 조직의 성과 향상에 기여하고 싶습니다.
                        </p>
                    </p>
                </div>
            </div>
        </section>
        <section><!--EDUCATION-->
            <div class="title">EDUCATION</div>
            <div class="content">
                <div class="education">
                    <div class="item">
                        <div class="name">
                            <div class="cell">
                                <img src="/assets/images/inha.png" alt="">
                            </div>
                            <div class="cell">제로베이스</div>
                        </div>
                        <div class="major">
                            <span class="label-default">전공</span>
                            데이터사이언스
                        </div>
                        <div class="period">
                            <span class="label-default">기간</span>
                            2023.1 ~ 2023.7
                        </div>
                        <div class="status">
                            <span class="label-default">상태</span>
                            진행중
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">
                            <div class="cell">
                                <img src="/assets/images/inha.png" alt="">
                            </div>
                            <div class="cell">국민대학교</div>
                        </div>
                        <div class="major">
                            <span class="label-default">전공</span>
                            조형대학 금속공예학과
                        </div>
                        <div class="period">
                            <span class="label-default">기간</span>
                            2011.3 ~ 2017.8
                        </div>
                        <div class="status">
                            <span class="label-default">상태</span>
                            졸업
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section>
            <div class="title">PUBLICATIONS</div>
            <div class="content">
                <div class="publications">
                    <div class="item">
                        <a href="http://ocean.kisti.re.kr/downfile/volume/iwitt/OTNBBE/2012/v12n3/OTNBBE_2012_v12n3_75.pdf">
                            심연, 신학철, <strong>김대기</strong>, 홍요훈, & 이필규. (2012). 강화 학습 알고리즘을 통한 하이브리드 필터링 이미지 추천 시스템. 한국인터넷방송통신학회 논문지, 12(3), 75-81.
                        </a>
                    </div>
                </div>
            </div>
        </section> -->
        <section><!--CERTIFICATES-->
            <div class="title">CERTIFICATES</div>
            <div class="content">
                <div class="certificates">
                    <div class="item">
                        <a href="/assets/files/Coursera BB6ADJK9HQSX.pdf">
                            Coursera
                        </a>
                    </div>
                    <div class="item">
                        Supervised Machine Learning: Regression and Classification, 203.03.13, Coursera
                    </div>
                </div>
            </div>
        </section>
        <section><!--Contact-->
            <div class="title">CONTACT</div> 
            <div class="content">
                <div class="career">
                    {% for career in site.data.contact %}
                    <div class="item">
                        <div class="name">{{ career.name }}</div>
                        <div class="location">
                            <span class="label-default">
                                <i class="ion-ios-compass"></i>
                                이메일
                            </span>
                            {{ career.email }}
                        </div>
                        <div class="position">
                            <span class="label-default">
                                <i class="ion-ios-person"></i>
                                연락처
                            </span>
                            {{ career.phone }}
                        </div>
                        {% for period in career.period %}
                        {% assign loopindex = forloop.index %}
                        <div class="period">
                            <span class="label-default">
                                <i class="ion-ios-calendar"></i>
                                기간
                                {% if career.period.size > 1 %}
                                {{ loopindex }}
                                {% endif %}
                            </span>
                            {{ period }}
                        </div>
                        {% endfor %}
                        <div class="description">
                            <i class="ion-quote"></i>
                            {{ career.description }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</article>
<script>
    $(document).ready(function () {
        $('.gallery').modaal({
            type: 'image'
        });
    });
</script>