<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-heading">
      copyrignt
      <span style="display: inline-block; vertical-align: middle; transform: rotate(180deg)">&copy;</span>
      all rights reserved
    </div>
    <a href="https://github.com/skadudd"><i class="icon ion-logo-github"></i></a>
    <!-- <a href="https://www.linkedin.com/in/daegi-kim-6b23045b"><i class="icon ion-logo-linkedin"></i></a> -->
    <a href="https://www.instagram.com/naamyoung/"><i class="icon ion-logo-instagram"></i></a>
  </div>
</footer>
